<ion-header [translucent]="true" mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Top
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" mode="ios" class="ion-no-border">
    <ion-toolbar>
      <ion-title size="large">Top</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-segment
    mode="md"
    scrollable
    value="{{selectedCategory}}"
    (ionChange)="segmentChanged($event)">
    <ion-segment-button *ngFor="let category of categories" [value]="category">
      <ion-label>{{category}}</ion-label>
    </ion-segment-button>
  </ion-segment>
  <app-articles [articles]="articles"></app-articles>
  <ion-infinite-scroll
    threshold="25%"
    position="bottom"
    (ionInfinite)="loadData()"
  >
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Please wait...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
